<div id = info>
    <h1 id = headline> CATVICE </h1>
    <h2 id = headline2> the cat advice</h2>

    <img id = catImage class = "displayed" src = {{src}}>
    <h3 id = adviceCat> This cat has an advice for you:</h3>
    <h2 id = advice>{{advice}}</h2>
</div>

<div id = trivia>
    <h3 id = test> Test your knowledge!</h3>
    <h2 id = question>{{question}}</h2>

    <div id = buttons >
        <button id = answer1 class="button-75"(click) = "result = 'Correct Answer!'"><span class="text">{{answer1}}</span></button>
        <button id = answer2 class="button-75"(click) = "result = 'Wrong Answer!'"><span class="text">{{answer2}}</span></button>
        <button id = answer3 class="button-75"(click) = "result = 'Wrong Answer!'"><span class="text">{{answer3}}</span></button>
        <button id = answer4 class="button-75"(click) = "result = 'Wrong Answer!'"><span class="text">{{answer4}}</span></button>
    </div>

    <h2 id = resultAnswer>{{result}}</h2>



    <h2 *ngIf = "show" id = answer > {{answer1}}</h2>
    <button id = showButton class="button-75" (click) = "show = !show"><span class="text">{{ show ? 'Hide Answer' : 'Show Answer' }}</span></button>
</div>

<div id = video>
    <div id = yt>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iH1gFsesVm8?si=Cw_6Zun56wAZyaFk" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>
    </div>
</div>


